<div id="flash" class="w-1/2">
  <% flash.each do |key, value| %>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 flash <%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>
</div>
